@charset "UTF-8";
//===Mazorca Core===//
@import "node_modules/mazorca-core/_mazorca-core.scss";
img {
	width: unset;
}
//===Configs===//
@import "mazorca/config/_config";

@import "vendor/github-markdown.scss";
//===Vendor===//Css begins compling here
	// @import "vendor/bootstrap/_bootstrap.scss";

//===Mazorca===//
@import "mazorca/_elements";
@import "mazorca/_grid";//
@import "mazorca/_components";
@import "mazorca/_theme-helpers";
@import "mazorca/_modules";

body {
	font-family: f(sans);
	font-size: 18px;
	line-height: 1.2;
	padding: 60px;
}

.main {
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
}
.main-ttl {
	font-size: 50px;
	margin-bottom: 30px;
	text-align: center;
	a {
		text-decoration: underline;
		color: orange;
	}
}

.main-logo {
	width: 150px;
	margin: 0 auto;
	margin-bottom: 20px;
	filter: grayscale(100%);
	opacity: 0.5;
	@include under(650px) {
		// margin-bottom: 40px;
	}
}

.main-sbttl {
	font-size: 30px;
	text-align: center;
	margin-bottom: 30px;
}

.semestre-container {
	display: flex;
	justify-content: space-around;
	flex-wrap: nowrap;
	margin-bottom: 40px;
	text-align: center;
	@include under(650px) {
		margin-bottom: 0;
		width: 100%;
		flex-wrap: wrap;
	}

	& > div {
		padding: 0 10px;
		width: (100%/3);
		@include under(650px) {
			width: 100%;
			margin-bottom: 40px;
		}
	}

	h2 {
		font-weight: bold;
		font-size: 25px;
		cursor: pointer;
		margin-bottom: 10px;
	}

	h3 {
		font-size: 20px;
		margin-bottom: 10px;
		text-decoration: underline;
		color: #34986a;
		@include link-states {
			color: #34b76a;

		}
	}
	&.featured {
		margin-bottom: 20px;
		h3 {
			font-size: 24px;
		}
	}
}
.semestre-work-container {
	margin-bottom: 20px;
}

.track {
	margin-bottom: 40px;
}

.intro {
	line-height: 1.8;
	margin-bottom: 30px;
	p {
		margin-bottom: 10px;
	}
}

.track-ttl {
	font-size: 24px;
	margin-bottom: 16px;
}

.track-score {
	display: block;
	font-size: 16px;
	margin-bottom: 10px;
	text-decoration: underline;
	cursor: pointer;
}

.description {
	font-size: 16px;
	margin-bottom: 20px;
	line-height: 1.5;
}

.video {
	margin-bottom: 30px;
}

.video-iframe {
	&-container {
		position: relative;
		width: 100%;
		height: 0;
		padding-bottom: (9/16)*100%;
	}
	position: absolute;
	top: 0;
	left: 0;
	width: 100% !important;
	height: 100%;
}

[src="/public/images/videcoic-one/mapa.png"] {
	cursor: pointer;
}

.inline-images {
	img {
		display: inline-block;
	}
}